

<div class="cart-container">
  <h2 [ngClass]="{ 'cart-title': true, 'active': isActive }">SHOPPING CART</h2>
  <div *ngIf="isVisible">hello</div>
  <div class="cart-table">
    <div class="cart-header">
      <div class="cart-col image">IMAGE</div>
      <div class="cart-col name">NAME</div>
      <div class="cart-col price">PRICE</div>
      <div class="cart-col action">ACTION</div>
    </div>
    <div class="cart-row" *ngFor="let product of products">
      <div class="cart-col image">
        <img src="{{ product.image }}"
             alt="{{ product.name }}" class="product-img" />
      </div>
      <div class="cart-col name">{{ product.name | upperCasePipe}}</div>
      <div class="cart-col price">{{product.price| currencyPipe}}</div>
      <div class="cart-col action">
        <button class="delete-btn">
          <span class="material-icons">delete</span>
        </button>
      </div>
    </div>
  </div>
</div>

